#page-admin-activites{
    display: flex;
    height: 100%;
}
#containeur-admin-activites{
    margin-top: 5vh;
    width: 100%;
}
#admin-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#containeur-activites{
    margin-top: 5vh;
}