

#nos-activites {
    background-color: #f6f6f6;
    padding: 60px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#nos-activites h1 {
    font-size: 40px;
    margin-bottom: 15px;
    text-align: center;
}

#nos-activites > p {
    font-size: 15px;
    color: #555;
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#containeur-valeurs,
#containeur-activites {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.activite {
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    width: 32%;
    display: flex;
    flex-direction: column;
}

.activite img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.titre-activite {
    padding: 15px;
    font-size: 20px;
}

.activite p {
    font-size: 14px;
    padding: 0 15px;
    line-height: 1.4;
    color: #555;
}

.footer-activite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-top: auto;
}

.date-activite {
    font-size: 13px;
    color: #aaa;
}

.footer-activite a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.footer-activite a:hover {
    color: #9b7356;
}

#nos-activites > a {
    display: inline-block;
    color: black;
    margin-top: 30px;
    font-weight: bold;
    text-decoration: underline;
    transition: color 0.3s, border-color 0.3s;
    text-align: center;
    width: 100%;
}

#nos-activites > a:hover {
    color: #9b7356;
    border-color: #9b7356;
}

@media (max-width: 900px) {
    #nos-activites {
        padding: 5%;
    }

    #containeur-activites {
        flex-direction: column;
        align-items: center;
    }

    .activite {
        width: 90%;
        padding: 0;
        background-color: white; /* ou blue si voulu */
    }

    #nous-contacter {
        flex-direction: column;
        gap: 30px;
    }

    #info-nous-contacter,
    #form-nous-contacter {
        width: 100%;
    }

    #transition {
        font-size: 25px;
        padding: 60px 20px;
    }
    #button-footer{
        margin-bottom: 5vh;
    }
}






/* Responsive pour mobile */
@media (max-width: 900px) {
    .activite{
        padding: 0;
        width: 100%;
    }
}