#footer {
    background-color: #83965E;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px 0px;
    text-align: center;
    width: 100%;
}

#politique-mentions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

#politique-mentions a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#politique-mentions a:hover {
    opacity: 0.7;
}

.bar-de-separation {
    width: 100%;
    max-width: 1200px;
    margin: 15px auto;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
}

#reseaux {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

#reseaux p {
    font-size: 14px;
}

.containeur-reseaux {
    display: flex;
    gap: 15px;
}

.reseau {
    width: 35px;
    height: 35px;
    background-color: #86955E;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.reseau:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.reseau img {
    width: 20px;
    height: 20px;
    opacity: 1;
}
#facebook{
    width: 30px;
    height: 30px;
}

/* Responsive pour mobile */
@media (max-width: 768px) {
    #reseaux {
        flex-direction: column;
        gap: 15px;
    }

    #footer {
        width: 95%;
        padding: 2.5% ;
    }
}