#login{
    display: flex;
}
#login img{
    width: 60%;
}
#containeur-login{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 90%;
    padding: 5%;
}
#containeur-login h2{
    font-weight: 100;
}
#containeur-login img{
    margin-left: 20%;
    width: 40%;
}

#containeur-formulaire-login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 20vh;
}
#containeur-formulaire-login input{
    border: gray 1px solid;
    padding: 1% 1%;
    border-radius: 2px;
}
#containeur-formulaire-login input:focus{
    border: rgb(0, 0, 0) 1px solid;
}
#login a{
    color: #83965E;
}
#btn-connexion{
    background-color: #83965E;
    color: white;
    width: 40%;
    padding: 3% 1%;
    border: none;
    border-radius: 5px;
}

/* Responsive mobile */
@media (max-width: 900px) {
    #image-login{
        display: none;
    }
}
