/* Conteneur principal */
#panel {
    width: 100%;
    max-width: 300px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 2%;
    width: 16%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
#bouton-back{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 5vh;
    border-radius: 100%;
    margin-right: 80%;
    margin-top: 5%;
    font-size: 1.5em;
}
#bouton-back:hover{
    background-color: white;
    cursor: pointer;
}
/* Logo */
#panel img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

/* Liens */
#containeur-liens {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#containeur-liens a {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    color: #666;
    font-size: 1.2em;
    font-weight: 500;
    transition: 0.3s;
}

/* Style pour l'élément actif */
#containeur-liens a.active {
    background-color: #6b814d; /* Vert */
    color: white;
}

#containeur-liens a:hover {
    background-color: #cdd5a6;
}

/* Bouton de déconnexion */
#deconnexion {
    margin-top: auto;
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: black;
    padding: 10px;
}

#deconnexion:hover {
    color: red;
}
